* {
    margin: 0 auto;
}

.navbar {
    height: 70px;
    background-color: #E50914;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

body {
    background-image: url('https://webneel.com/wallpaper/sites/default/files/images/08-2014/1-black-wallpaper-pattern.jpg');
    max-width: 100%;
    max-height: 100%;
}


.itens {
    width: 230px;
    height: 150px;
    background-color: gray;
    display: inline-block;
    margin: 10px;
    padding: 20px;

}

.secitem {
  
    margin-top: 5%;
    max-width: 90%;
    max-height: 100%;
    border-radius: 20px;
    cursor: pointer;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.secitem:focus-within .imgitem1,
.secitem:hover .imgitem1 {
    transform: translateX(-25%);
}

.imgitem1:focus~.imgitem1,
.imgitem1:hover~.imgitem1 {
    transform: translateX(25%);
}

.secitem .imgitem1:focus,
.secitem .imgitem1:hover {
    transform: scale(1.5);
    z-index: 1;
    position: relative;
}

/* img2 hover */

.secitem:focus-within .imgitem2,
.secitem:hover .imgitem2 {
    transform: translateX(-25%);
}

.imgitem2:focus~.imgitem2,
.imgitem2:hover~.imgitem2 {
    transform: translateX(25%);
}

.secitem .imgitem2:focus,
.secitem .imgitem2:hover {
    transform: scale(1.5);
    z-index: 1;
    position: relative;
}
/* img3 hover */

.secitem:focus-within .imgitem3,
.secitem:hover .imgitem3 {
    transform: translateX(-25%);
}

.imgitem3:focus~.imgitem3,
.imgitem3:hover~.imgitem3 {
    transform: translateX(25%);
}

.secitem .imgitem3:focus,
.secitem .imgitem3:hover {
    transform: scale(1.5);
    z-index: 1;
    position: relative;
}

/* img4 hover */
.secitem:focus-within .imgitem4,
.secitem:hover .imgitem4 {
    transform: translateX(-25%);
}

.imgitem4:focus~.imgitem4,
.imgitem4:hover~.imgitem4 {
    transform: translateX(25%);
}

.secitem .imgitem4:focus,
.secitem .imgitem4:hover {
    transform: scale(1.5);
    z-index: 1;
    position: relative;
}


/*img5hover  */

.secitem:focus-within .imgitem5,
.secitem:hover .imgitem5 {
    transform: translateX(-25%);
}

.imgitem5:focus~.imgitem5,
.imgitem5:hover~.imgitem5 {
    transform: translateX(25%);
}

.secitem .imgitem5:focus,
.secitem .imgitem5:hover {
    transform: scale(1.5);
    z-index: 1;
    position: relative;
}


/* img6hover */
.secitem:focus-within .imgitem6,
.secitem:hover .imgitem6 {
    transform: translateX(-25%);
}

.imgitem6:focus~.imgitem6,
.imgitem6:hover~.imgitem6 {
    transform: translateX(25%);
}

.secitem .imgitem6:focus,
.secitem .imgitem6:hover {
    transform: scale(1.5);
    z-index: 1;
    position: relative;
}

/* img7hover */

.secitem:focus-within .imgitem7,
.secitem:hover .imgitem7 {
    transform: translateX(-25%);
}

.imgitem7:focus~.imgitem7,
.imgitem7:hover~.imgitem7 {
    transform: translateX(25%);
}

.secitem .imgitem7:focus,
.secitem .imgitem7:hover {
    transform: scale(1.5);
    z-index: 1;
    position: relative;
}

/* img8hover */

.secitem:focus-within .imgitem8,
.secitem:hover .imgitem8 {
    transform: translateX(-25%);
}

.imgitem8:focus~.imgitem8,
.imgitem8:hover~.imgitem8 {
    transform: translateX(25%);
}

.secitem .imgitem8:focus,
.secitem .imgitem8:hover {
    transform: scale(1.5);
    z-index: 1;
    position: relative;
}



/* Hovers */

.imgitem1:hover {
    transform: scale(1.3);
    z-index: 1;
}

.imgitem2:hover {
    transform: scale(1.3);
    z-index: 1;
}

.imgitem3:hover {
    transform: scale(1.3);
    z-index: 1;
}

.imgitem4:hover {
    transform: scale(1.3);
    z-index: 1;
}

.imgitem5:hover {
    transform: scale(1.3);
    z-index: 1;
}

.imgitem6:hover {
    transform: scale(1.3);
    z-index: 1;
}

.imgitem7:hover {
    transform: scale(1.3);
    z-index: 1;
}

.imgitem8:hover {
    transform: scale(1.3);
    z-index: 1;
}

/* imgs */

.imgitem1 {
    transition: transform 500ms;
    border-radius: 5px;
    background-size: cover;
    background-position-x: center;
    background-image: url('https://www.multiversos.com.br/wp-content/uploads/2022/04/Morbius-critica-capa-560x600.jpg');
    color: transparent;
}

.imgitem2 {
    transition: transform 500ms;
    border-radius: 5px;
    background-size: cover;
    background-position-x: center;
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/819K7eGNyVL.jpg');
    color: transparent;
}

.imgitem3 {
    transition: transform 500ms;
    border-radius: 5px;
    background-size: cover;
    background-position-x: center;
    background-image: url('https://disneyplusbrasil.com.br/wp-content/uploads/2020/08/Mulan-Disney-Plus.jpg');
    color: transparent;
}

.imgitem4 {
    transition: transform 500ms;
    border-radius: 5px;
    background-size: cover;
    background-position-x: center;
    background-image: url('http://clubecinema.com.br/wp-content/uploads/2015/07/bat1.jpg');
    color: transparent;
}

.imgitem5 {
    transition: transform 500ms;
    border-radius: 5px;
    background-size: cover;
    background-position-x: center;
    background-image: url('https://kanto.legiaodosherois.com.br/w760-h398-gnw-cfill-q95/wp-content/uploads/2019/08/legiao_OgCDKFT5f3QU1vW7nJmVSBd6bMPAiIX2wGoRHYskjL.jpg.jpeg');
    color: transparent;
}

.imgitem6{
    transition: transform 500ms;
    border-radius: 5px;
    background-size: cover;
    background-position-x: center;
    background-image: url('https://br.web.img3.acsta.net/newsv7/19/12/11/21/16/5758235.jpg');
    color: transparent;
}

.imgitem7{
    transition: transform 500ms;
    border-radius: 5px;
    background-size: cover;
    background-position-x: center;
    background-image: url('https://i0.wp.com/cebolaverde.com.br/wp-content/uploads/2021/03/Liga-da-Justica-de-Zack-Snyder.jpeg?fit=760%2C398&ssl=1');
    color: transparent;
}

.imgitem8{
    transition: transform 500ms;
    border-radius: 5px;
    background-size: cover;
    background-position-x: center;
    background-image: url('https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2021/11/harry-potter-piedra-filosofal-2547643.jpg?itok=LkPM8djt');
    color: transparent;
}
