* {
    margin: 0 auto;
}

body {
    background-image: url('https://webneel.com/wallpaper/sites/default/files/images/08-2014/1-black-wallpaper-pattern.jpg');
    max-width: 100%;
    max-height: 100%;
}

.navbar {
    height: 70px;
    background-color: #E50914;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.itens {
    width: 230px;
    height: 150px;
    background-color: gray;
    display: inline-block;
    margin: 10px;
    padding: 20px;

}

.secitem {
  
    margin-top: 5%;
    max-width: 90%;
    max-height: 100%;
    border-radius: 20px;
    cursor: pointer;
}

/* container == secitem */
/* item == div ou image */


/* Hovers */

.secitem:focus-within .imgitem1,
.secitem:hover .imgitem1 {
    transform: translateX(-25%);
}

.imgitem1:focus~.imgitem1,
.imgitem1:hover~.imgitem1 {
    transform: translateX(25%);
}

.secitem .imgitem1:focus,
.secitem .imgitem1:hover {
    transform: scale(1.5);
    z-index: 1;
    position: relative;
}

/* img2 hover */

.secitem:focus-within .imgitem2,
.secitem:hover .imgitem2 {
    transform: translateX(-25%);
}

.imgitem2:focus~.imgitem2,
.imgitem2:hover~.imgitem2 {
    transform: translateX(25%);
}

.secitem .imgitem2:focus,
.secitem .imgitem2:hover {
    transform: scale(1.5);
    z-index: 1;
    position: relative;
}
/* img3 hover */

.secitem:focus-within .imgitem3,
.secitem:hover .imgitem3 {
    transform: translateX(-25%);
}

.imgitem3:focus~.imgitem3,
.imgitem3:hover~.imgitem3 {
    transform: translateX(25%);
}

.secitem .imgitem3:focus,
.secitem .imgitem3:hover {
    transform: scale(1.5);
    z-index: 1;
    position: relative;
}

/* img4 hover */
.secitem:focus-within .imgitem4,
.secitem:hover .imgitem4 {
    transform: translateX(-25%);
}

.imgitem4:focus~.imgitem4,
.imgitem4:hover~.imgitem4 {
    transform: translateX(25%);
}

.secitem .imgitem4:focus,
.secitem .imgitem4:hover {
    transform: scale(1.5);
    z-index: 1;
    position: relative;
}


/*img5hover  */

.secitem:focus-within .imgitem5,
.secitem:hover .imgitem5 {
    transform: translateX(-25%);
}

.imgitem5:focus~.imgitem5,
.imgitem5:hover~.imgitem5 {
    transform: translateX(25%);
}

.secitem .imgitem5:focus,
.secitem .imgitem5:hover {
    transform: scale(1.5);
    z-index: 1;
    position: relative;
}


/* img6hover */
.secitem:focus-within .imgitem6,
.secitem:hover .imgitem6 {
    transform: translateX(-25%);
}

.imgitem6:focus~.imgitem6,
.imgitem6:hover~.imgitem6 {
    transform: translateX(25%);
}

.secitem .imgitem6:focus,
.secitem .imgitem6:hover {
    transform: scale(1.5);
    z-index: 1;
    position: relative;
}

/* img7hover */

.secitem:focus-within .imgitem7,
.secitem:hover .imgitem7 {
    transform: translateX(-25%);
}

.imgitem7:focus~.imgitem7,
.imgitem7:hover~.imgitem7 {
    transform: translateX(25%);
}

.secitem .imgitem7:focus,
.secitem .imgitem7:hover {
    transform: scale(1.5);
    z-index: 1;
    position: relative;
}

/* img8hover */

.secitem:focus-within .imgitem8,
.secitem:hover .imgitem8 {
    transform: translateX(-25%);
}

.imgitem8:focus~.imgitem8,
.imgitem8:hover~.imgitem8 {
    transform: translateX(25%);
}

.secitem .imgitem8:focus,
.secitem .imgitem8:hover {
    transform: scale(1.5);
    z-index: 1;
    position: relative;
}

/* imgs */

.imgitem1 {
    transition: transform 500ms;
    border-radius: 5px;
    background-size: cover;
    background-position-x: center;
    background-image: url('https://www.universdescomics.com/wp-content/uploads/2022/07/She-Hulk-Attorney-at-Law-banner.png');
    color: transparent;
}

/* Hovers */

.imgitem1:hover {
    transform: scale(1.3);
    z-index: 1;
}

.imgitem2:hover {
    transform: scale(1.3);
    z-index: 1;
}

.imgitem3:hover {
    transform: scale(1.3);
    z-index: 1;
}

.imgitem4:hover {
    transform: scale(1.3);
    z-index: 1;
}

.imgitem5:hover {
    transform: scale(1.3);
    z-index: 1;
}

.imgitem6:hover {
    transform: scale(1.3);
    z-index: 1;
}

.imgitem7:hover {
    transform: scale(1.3);
    z-index: 1;
}

.imgitem8:hover {
    transform: scale(1.3);
    z-index: 1;
}

.imgitem2 {
    transition: transform 500ms;
    border-radius: 5px;
    background-size: cover;
    background-position-x: center;
    background-image: url('https://trecobox.com.br/wp-content/uploads/2022/07/Assinantes-do-Prime-Video-ganham-previa-exclusiva-de-O-Senhor-dos-Aneis-e1657193181726.jpg');
    color: transparent;
}

.imgitem3 {
    transition: transform 500ms;
    border-radius: 5px;
    background-size: cover;
    background-position-x: center;
    background-image: url('https://rollingstone.uol.com.br/media/_versions/sandman_capa_widelg.jpg');
    color: transparent;
}

.imgitem4 {
    transition: transform 500ms;
    border-radius: 5px;
    background-size: cover;
    background-position-x: center;
    background-image: url('https://trecobox.com.br/wp-content/uploads/2022/03/Peaky-Blinders-ultimo-episodio.jpg');
    color: transparent;
}

.imgitem5 {
    transition: transform 500ms;
    border-radius: 5px;
    background-size: cover;
    background-position-x: center;
    background-image: url('https://cdn.dribbble.com/users/3539351/screenshots/18175380/mcu_tv-_0004_layer_5_4x.jpg');
    color: transparent;
}

.imgitem6{
    transition: transform 500ms;
    border-radius: 5px;
    background-size: cover;
    background-position-x: center;
    background-image: url('https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/33A4573CCA8C2F61844C409544BE727F00AFE91C52A43070CBB0B61AA125BC1B/scale?width=1200&aspectRatio=1.78&format=jpeg');
    color: transparent;
}

.imgitem7{
    transition: transform 500ms;
    border-radius: 5px;
    background-size: cover;
    background-position-x: center;
    background-image: url('https://static.ricmais.com.br/uploads/2017/06/spider-man-disney-xd.jpg');
    color: transparent;
}

.imgitem8{
    transition: transform 500ms;
    border-radius: 5px;
    background-size: cover;
    background-position-x: center;
    background-image: url('https://1.bp.blogspot.com/-Eh6VO1GQH4Y/Xmqp3m1-EzI/AAAAAAAAADU/rz-sGQiL4rYHTkpOU-F_ojnmgZaRQ-vEACNcBGAsYHQ/s1600/OS%2BVINGADORES%2BUNIDOS.png');
    color: transparent;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn:hover,
.btn:focus {
    color: black;
    outline: 0;
    background-color: #fff;
}

